.idea/
/d1/node_modules/
/d2/node_modules/
/d3/node_modules/
/d4/node_modules/
/d5/node_modules/
/d6/node_modules/
/d7/node_modules/
/d8/node_modules/
/d9/node_modules/
/d10/node_modules/
/d11/node_modules/
